<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">SK Auth App </a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link"
          aria-current="page"
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
        <a
          class="nav-link"
          routerLink="posts"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="isAuthenticated"
          >Post</a
        >
        <a
          class="nav-link"
          routerLink="authentication"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="!isAuthenticated"
          >Login/Signup</a
        >
        <a
          class="nav-link"
          style="cursor: pointer"
          (click)="logout()"
          *ngIf="isAuthenticated"
          >Logout</a
        >
      </div>
    </div>
  </div>
</nav>
